# ID del canal de YouTube (Obligatorio)
YOUTUBE_CHANNEL_ID=UC_x5XG1OV2P6uZZ5FSM9Ttw

# Configuración del Bot de Telegram (Obligatorios)
TELEGRAM_BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyz
TELEGRAM_CHAT_ID=-100123456789
TELEGRAM_MESSAGE_THREAD_ID=

# Intervalo de revisión en milisegundos (Opcional, por defecto 300000 = 5 minutos)
INTERVAL=300000

